.swiper {
  height: 100%;
  padding-right: 10rem;
}

.swiper-slide {
  text-align: center;
  font-size: 18px;
  background: #444;
  display: flex;
  justify-content: center;
  align-items: center;
}

.swiper-slide img {
  display: block;
  height: 100%;
  object-fit: cover;
}

@media (min-width: 440px) {
  .swiperSlide {
    width: 10rem !important;
  }
}

.mahdiPagination {
  display: flex;
  justify-content: center;
  gap: -5px;
  margin-top: -25px; /* فاصله از پایین سوییپر */
}

/* نقطه‌ها */
.mahdiPagination :global(.swiper-pagination-bullet) {
  background-color: #ff6600 !important;
  width: 8px;
  height: 8px;
  opacity: 0.4;
  transition: all 0.3s ease;
  border-radius: 50%;
}

/* نقطه فعال */
.mahdiPagination :global(.swiper-pagination-bullet-active) {
  opacity: 1;
  transform: scale(1.2);
}

/* مخفی شدن در عرض >= 900px */
@media (min-width: 900px) {
  .mahdiPagination {
    display: none !important;
  }
}
