@import "tailwindcss";

@theme inline {
  --font-mainFont: "IRANSansXFaNum", sans-serif;
  --blur-2xs: 2px;
  --color-borderColor: oklch(64.6% 0.222 41.116); /*600*/
  --color-iconColor: oklch(70.5% 0.213 47.604); /*500*/
  --color-titleColor: oklch(40.8% 0.123 38.172); /*900*/
}

@keyframes move-left {
  0%,
  100% {
    transform: translateX(0);
  }
  50% {
    transform: translateX(-4px);
  }
}

.animate-move-left {
  animation: move-left 1.2s ease-in-out infinite;
}
