@import "tailwindcss";

@theme inline {
  --font-mainFont: "IRANSansXFaNum", sans-serif;
  --blur-2xs: 2px;
}

@keyframes move-left {
  0%,
  100% {
    transform: translateX(0);
  }
  50% {
    transform: translateX(-4px);
  }
}

.animate-move-left {
  animation: move-left 1.2s ease-in-out infinite;
}
