@import "tailwindcss";

html {
  scroll-behavior: smooth;
}

@theme inline {
  --font-mainFont: "IRANSansXFaNum", sans-serif;
  --font-secondFont: "saze", sans-serif;
  --blur-2xs: 2px;
  --blur-3xs: 1px;
  --color-borderColor: oklch(64.6% 0.222 41.116); /*600*/
  --color-mainbg: #fb6b3f;
  --color-iconColor: #fa5a2a;
  --color-titleColor: #122c6d; /*900*/
  --breakpoint-440: 440px;
  --breakpoint-640: 640px;
  --breakpoint-900: 900px;
}

@keyframes fadeIn {
  from {
    opacity: 0;
    transform: scale(0.95);
  }
  to {
    opacity: 1;
    transform: scale(1);
  }
}
.animate-fadeIn {
  animation: fadeIn 0.2s ease-out;
}
@keyframes move-left {
  0%,
  100% {
    transform: translateX(0);
  }
  50% {
    transform: translateX(-4px);
  }
}

.animate-move-left {
  animation: move-left 1.2s ease-in-out infinite;
}
